body,
#body {
  background-color: black;
}

h1,
h4,
footer {
  color: white;
  padding: 20px;
  text-align: center;
}

img.centered {
  display: block;
  margin: auto;
  width: 250px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
